@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.privacy-button {
  @include button-text-alt;
  color: $ribienna-dark;
  border: 2px solid $ribienna-dark;
  border-radius: 30px;
  padding: space(8) space(24);

  @include for-phone-only {
    padding: pxtorem(4px) space(10);
  }

  &--open {
    padding: pxtorem(8px) space(8);

    &--title {
      background-color: $light-ribienna;
      border-radius: 19px;
      padding: pxtorem(4px) space(16);
    }
  }

  &--icon {
    vertical-align: middle;
    margin-left: space(16);
  }

  &--dropdown {
    margin-top: pxtorem(3px);
    color: $grey;
    text-align: left;
    padding-left: space(16);
    cursor: pointer;
  }
}
