@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.privacy-button {
  @include button-text-alt;
  color: $ribienna-dark;
  border: 2px solid $ribienna-dark;
  border-radius: 30px;
  padding: space(8) space(24);

  @include for-phone-only {
    padding: pxtorem(4px) space(10);
    border: 1px solid $ribienna-dark;
  }

  &--open {
    padding: space(8) space(8);
    border-radius: 19px;

    @include for-phone-only {
      border-radius: 11px;
      padding: space(8) 4px;
    }

    &--title {
      background-color: $light-ribienna;
      border-radius: 19px;
      padding: pxtorem(4px) space(16);

      @include for-phone-only {
        border-radius: 8px;

        padding: pxtorem(4px) pxtorem(6px);
      }
    }
  }

  &--icon {
    vertical-align: middle;
    margin-left: space(16);
  }

  &--dropdown {
    margin-top: pxtorem(3px);
    color: $grey;
    text-align: left;
    padding-left: space(16);
    cursor: pointer;

    @include for-phone-only {
      padding-left: pxtorem(7px);
      margin-top: pxtorem(6px);
    }
  }
}
