@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.pagination {
  display: flex;
  align-items: center;

  &--label {
    @include button-text-alt;
    display: flex;
    align-items: center;
    color: $tradewind;

    &--icon {
      @include body-xs;

      &-left {
        margin-right: space(8);
      }

      &-right {
        margin-left: space(8);
      }
    }

    &--current {
      color: $grey;
      border-bottom: 2px solid $grey;
      display: inline-block;
      width: 20px;
      text-align: center;
    }
  }

  .rc-pagination-simple-pager {
    @include pagination;
    display: flex;
    background-color: $light-grey;
    color: $medium-grey;
    border-radius: 2px;
    padding: space(12);
    margin: 0 space(16);

    @include for-phone-only {
      margin: 0 space(10);
      padding: space(8) pxtorem(6px);
    }

    input {
      @include pagination;
      border: none;
      background: transparent;
    }
    .rc-pagination-slash {
      margin: 0 space(8);

      @include for-phone-only {
        margin: 0;
      }
    }
  }

  .rc-pagination-prev {
    a {
      &:after {
        content: "";
      }
    }
  }

  .rc-pagination-item-link {
    display: none;
  }
}
