@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.cookies-banner {
  @include body-s;
  background-color: $turqoise;
  color: $white;
  padding: space(24) space(40) !important;
  max-width: 100% !important ;

  &--grey {
    background-color: $dark-grey;
  }

  @include for-phone-only {
    padding: space(24) !important;
  }

  &--header {
    @include heading-s;
  }

  &--close {
    text-align: right;

    &:hover {
      cursor: pointer;
    }

    &--icon {
      margin-left: space(16);
      @include for-phone-only {
        margin-left: space(10);
      }
    }
  }

  &--content {
    margin-top: space(16);
  }
}
