@import "../../styles/mixins.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.navigation-block {
  margin-top: space(120) !important;
  margin-bottom: space(120) !important;

  @include for-tablet-down {
    margin-top: space(56) !important;
    margin-bottom: space(40) !important;
  }

  @include for-phone-only {
    margin-top: 0 !important;
  }

  &--mobile {
    background-color: $light-grey;

    padding: space(24) space(24) space(40);
    text-align: center;

    &--outer {
      padding: space(16) !important;
    }

    &--buttons {
      button {
        width: 100%;

        &:nth-child(1) {
          margin-bottom: space(24);
          background-color: $turqoise;
        }
      }
    }

    &--description {
      @include heading-s;
      color: $grey;
      margin-bottom: space(32);

      @include for-phone-only {
        line-height: 1.1;
      }
    }
  }

  &__column {
    background-color: $light-ribienna;
    text-align: center;
    padding: space(32);

    &:nth-child(2) {
      background-color: $aqua-haze;

      button {
        background-color: $turqoise;
      }
    }

    &--inner {
      display: grid;
      grid-template-rows: auto 1fr;
    }

    &--title {
      @include heading-m;
      color: $turqoise;
      margin-bottom: space(32);

      &--purple {
        @include heading-m;
        color: $ribienna;
        margin-bottom: space(32);
      }
    }

    &--disclaimer {
      @include body-l;
      color: $grey;
      margin-top: space(16);

      @include for-tablet-large-up {
        font-size: pxtorem(26px);
        padding: space(16);
      }
    }
  }
}
