@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.withdraw {
  &--title {
    @include heading-l;
    color: $grey;
    margin: space(16) 0;
  }

  &--subtitle {
    @include heading-s;
    color: $grey;
    margin-bottom: space(16);
  }

  &--about {
    @include body-l;
    color: $grey;
    margin-bottom: space(20);
  }

  &--hint {
    @include hint;
  }

  &--button {
    text-align: center;
    margin-bottom: space(32);
  }
}
