@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.withdraw {
  &--title {
    @include heading-l;
    color: $grey;
    margin: space(16) 0;
  }

  &--subtitle {
    @include heading-s;
    color: $grey;
    line-height: 1.1;
    margin-bottom: space(24);

    @include for-tablet-large-up {
      margin-top: space(32);
    }
  }

  &--about {
    @include body-l;
    color: $grey;
    margin-bottom: space(20);

    @include for-tablet-large-up {
      margin-bottom: space(32);
    }

    &--tight {
      margin-bottom: 0;
    }
  }

  &--hint {
    @include hint;
  }

  &--button {
    text-align: center;
    margin-bottom: space(48);
    margin-top: space(12);
  }
}
