@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.results {
  @include container;

  @include for-tablet-large-up {
    margin-top: space(120) !important;
  }

  &--no-results {
    text-align: center;

    &--title {
      @include heading-m;
      color: $grey;
    }
  }
}
