@import "./grid.scss";

@mixin for-small-phone {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-tablet-down {
  @media (max-width: 860px) {
    @content;
  }
}

@mixin for-tablet-large-down {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-desktop-down {
  @media (max-width: 1320px) {
    @content;
  }
}

@mixin for-large-desktop-up {
  @media (min-width: 1321px) {
    @content;
  }
}
