// Main Colors
$ribienna: #603681;
$turqoise: #149f84;
$light-ribienna: #faf5fb;
$light-turqoise: #f2f9f7;

// Greys
$grey: #525252;
$medium-grey: #858585;
$light-grey: #f9f9f9;

// Extended Green Palette
$tradewind: #4db39f;
$tradewind-light: #56b6b2;
$aqua-haze: #e6f2ef;

// Gradient
$gradient-start: #138b84;
$gradient-end: #56b6b2;
