@import "./mixins.scss";
@import "./breakpoints.scss";

@font-face {
  font-family: "Kayak Sans";
  src: url("../assets/fonts/kayak_sans_regular.woff2") format("woff2"),
    url("../assets/fonts/kayak_sans_regular.woff") format("woff");
}

@font-face {
  font-family: "Kayak Sans Bold";
  src: url("../assets/fonts/kayak_sans_bold.woff2") format("woff2"),
    url("../assets/fonts/kayak_sans_bold.woff") format("woff");
}

$kayak-sans: "Kayak Sans", sans-serif;
$kayak-sans-bold: "Kayak Sans Bold", sans-serif;
$skippy-sharp: skippy-sharp, sans-serif;

// Headings

@mixin heading-xl {
  font-family: $skippy-sharp;
  font-weight: 400;
  font-size: pxtorem(88px);
  line-height: 1.1;

  @include for-phone-only {
    font-size: pxtorem(40px);
    line-height: 1.35;
  }
}

@mixin heading-l {
  font-family: $skippy-sharp;
  font-weight: 400;
  font-size: pxtorem(64px);
  line-height: 1.32;

  @include for-phone-only {
    font-size: pxtorem(40px);
    line-height: 1.35;
  }
}

@mixin heading-m {
  font-family: $skippy-sharp;
  font-weight: 400;
  font-size: pxtorem(56px);
  line-height: 1.32;

  @include for-phone-only {
    font-size: pxtorem(32px);
  }
}

@mixin heading-s {
  font-family: $skippy-sharp;
  font-weight: 400;
  font-size: pxtorem(48px);
  line-height: 1.3;

  @include for-phone-only {
    font-size: pxtorem(32px);
  }
}

@mixin heading-xs {
  font-family: $skippy-sharp;
  font-weight: 400;
  font-size: pxtorem(36px);
  line-height: 1.3;

  @include for-phone-only {
    font-size: pxtorem(24px);
  }
}

// Body

@mixin body-l {
  font-family: $kayak-sans;
  font-size: pxtorem(32px);
  line-height: 1.25;

  @include for-phone-only {
    font-size: pxtorem(24px);
    line-height: 1.16;
  }
}

@mixin body-m {
  font-family: $kayak-sans;
  font-size: pxtorem(32px);
  line-height: 1.25;

  @include for-phone-only {
    font-size: pxtorem(16px);
    line-height: 1.12;
  }
}

@mixin body-m-alt {
  font-family: $kayak-sans;
  font-size: pxtorem(24px);
  line-height: 1.3;

  @include for-phone-only {
    font-size: pxtorem(16px);
    line-height: 1.12;
  }
}

@mixin body-s {
  font-family: $kayak-sans-bold;
  font-size: pxtorem(24px);
  line-height: 1.16;

  @include for-phone-only {
    font-size: pxtorem(16px);
    line-height: 1.25;
  }
}

@mixin body-s-alt {
  font-family: $kayak-sans;
  font-size: pxtorem(24px);
  line-height: 1.3;

  @include for-phone-only {
    font-size: pxtorem(16px);
    line-height: 1.25;
  }
}

@mixin body-xs {
  font-family: $kayak-sans;
  font-size: pxtorem(16px);
  line-height: 1.12;

  @include for-phone-only {
    font-size: pxtorem(14px);
    line-height: 1.14;
  }
}

@mixin title-alt {
  font-family: $skippy-sharp;
  font-weight: 400;
  font-size: pxtorem(88px);
  line-height: 1.32;

  @include for-phone-only {
    font-size: pxtorem(56px);
  }
}

@mixin button-text {
  font-family: $kayak-sans-bold;
  font-size: pxtorem(32px);
  line-height: 1.3;

  @include for-phone-only {
    font-size: pxtorem(24px);
    line-height: 1.16;
  }
}

@mixin button-text-alt {
  font-family: $kayak-sans-bold;
  font-size: pxtorem(24px);
  line-height: 1.3;

  @include for-phone-only {
    font-size: pxtorem(16px);
    line-height: 1;
  }
}

@mixin about-accordian-text {
  font-family: $kayak-sans;
  font-size: pxtorem(32px);
  line-height: 1.25;

  @include for-phone-only {
    font-size: pxtorem(16px);
  }
}

@mixin story-text {
  font-family: $kayak-sans;
  font-size: pxtorem(28px);
  line-height: 1.21;
}

@mixin tag-text {
  font-family: $kayak-sans-bold;
  font-size: pxtorem(16px);
  line-height: 1.12;
}

@mixin tag-text-l {
  font-family: $kayak-sans;
  font-size: pxtorem(24px);
  line-height: 1.08;

  @include for-phone-only {
    font-size: pxtorem(16px);
    line-height: 1.12;
  }
}

@mixin pagination {
  font-family: $skippy-sharp;
  font-weight: 400;
  font-size: pxtorem(32px);
  line-height: 1.25;

  @include for-phone-only {
    font-size: pxtorem(24px);
  }
}
