@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, $from),
    color-stop($stop, $to)
  );

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(left, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to right, $from 0%, $to $stop);
}

@function pxtorem($pixels) {
  /* Convert px to rem using base font of 16px */
  @return $pixels / 16px * 1rem;
}

@function space($pixels) {
  /* Map px to rem values */
  $spaceamounts: (
    8: pxtorem(8px),
    10: pxtorem(10px),
    12: pxtorem(12px),
    16: pxtorem(16px),
    20: pxtorem(20px),
    24: pxtorem(24px),
    32: pxtorem(32px),
    40: pxtorem(40px),
    48: pxtorem(48px),
    56: pxtorem(56px),
    64: pxtorem(64px),
    72: pxtorem(72px),
    80: pxtorem(80px),
    88: pxtorem(88px),
    96: pxtorem(96px),
    104: pxtorem(104px),
    112: pxtorem(112px),
    120: pxtorem((120px))
  );

  @return map-get($spaceamounts, $pixels);
}
