@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/breakpoints.scss";

.breadcrumb {
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--crumb {
    @include heading-l;
    color: $turqoise;
    display: inline;

    li {
      display: inline;
    }

    &--active {
      color: $grey;
    }
  }

  &--icon {
    @include heading-l;

    display: inline;
    margin: 0 space(24);
    color: $grey;

    @include for-phone-only {
      margin: 0 space(16);
    }
  }
}
