@import "./../../styles/colors.scss";
@import "./../../styles/fonts.scss";

select {
  @include body-m-alt;
  border: 1px solid $ribienna-dark;
  color: $ribienna;
  padding: space(20);
  position: relative;
  padding-right: space(40);

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  @include for-phone-only {
    padding: space(16) space(40) space(16) space(16);
  }
}

.select {
  &--wrapper {
    position: relative;
    overflow: hidden;
    width: 300px;

    @include for-tablet-down {
      width: auto;
    }

    &:after {
      position: absolute;
      background-color: $ribienna;
      background-image: url("../../assets/icons/chevron.svg");
      background-repeat: no-repeat;
      background-position: center;

      background-size: 24px;
      padding: 0 space(20);
      content: "";
      width: 20px;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 98;
    }

    select {
      width: 100%;
      border: 0;
      position: relative;
      z-index: 99;
      background: none;
      border: 1px solid $ribienna-dark;
      border-radius: 0;
      margin-right: 40px;
    }
  }
}
select::-ms-expand {
  display: none;
}
