@import "../../../styles/mixins.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

.my-experiences {
  padding: space(24) space(8) space(40) space(8) !important;

  &--back {
    @include body-s;
    color: $ribienna;
  }
}

.no-experience {
  text-align: center;

  &--title {
    @include heading-m;
    color: $grey;
    margin: space(20) 0;
  }

  &--about {
    @include body-l;
    color: $medium-grey;
    margin: space(20) 0;
  }

  &--link {
    @include heading-s;
    color: $turqoise;
    margin: space(20) 0;
  }
}
