@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.register {
  @include container;

  &--title {
    @include heading-l;
    color: $grey;
    margin-bottom: space(32);
  }

  &--description {
    @include body-l;
    color: $medium-grey;
    margin-bottom: space(32);

    p {
      margin: space(8) 0;
    }

    &--tight {
      @include body-l;
      color: $medium-grey;
      margin-bottom: 0;
    }
  }

  &--subtitle {
    @include body-l;
    color: $grey;
    margin-bottom: space(24);
  }

  &--step-description {
    @include body-l;
    color: $medium-grey;
    margin-bottom: space(56);

    @include for-phone-only {
      margin-bottom: space(32);
    }
  }

  &--hint {
    @include hint;
  }

  &--checkbox {
    margin-top: space(80);
    text-align: center;

    @include for-phone-only {
      margin-top: space(40);
    }
  }

  &--footer {
    padding-top: space(120) !important;
    padding-bottom: space(120) !important;
    text-align: center;

    @include for-phone-only {
      padding-top: space(40) !important;
      padding-bottom: space(56) !important;
    }

    &--title {
      @include heading-m;
      color: $turqoise;
      margin-bottom: space(24);
    }

    &--description {
      @include body-l;
      color: $medium-grey;
      margin-bottom: space(32);
    }
  }
}

.confirmation {
  text-align: center;
}
