@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.register {
  @include container;

  &--title {
    @include heading-l;
    color: $grey;
    margin-bottom: space(32);
  }

  &--description {
    @include body-l;
    color: $medium-grey;
    margin-bottom: space(32);

    &--tight {
      margin-bottom: 0;
    }
  }

  &--subtitle {
    @include body-l;
    color: $grey;
    margin-bottom: space(24);
  }

  &--step-description {
    @include body-l;
    color: $medium-grey;
    margin-bottom: space(56);

    @include for-phone-only {
      margin-bottom: space(32);
    }
  }

  &--hint {
    @include body-l;
    display: flex;
    background-color: #f4f4f4;
    padding: space(16) space(32);
    margin: space(32) space(8);
    color: $grey;

    svg {
      height: 30px;
      width: auto;
      margin-right: space(16);
    }
  }

  &--footer {
    padding-top: space(120) !important;
    padding-bottom: space(120) !important;
    text-align: center;

    @include for-phone-only {
      padding-top: space(40) !important;
      padding-bottom: space(56) !important;
    }

    &--title {
      @include heading-m;
      color: $turqoise;
      margin-bottom: space(24);
    }

    &--description {
      @include body-l;
      color: $medium-grey;
      margin-bottom: space(32);
    }
  }
}
