@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.footer {
  position: relative;

  &--purple {
    background-color: $light-ribienna;

    &:before {
      position: absolute;
      content: "";
      background-image: url("../../assets/lines/Line3-purple.svg");
      width: 100%;
      height: 40px;
      background-repeat: no-repeat;
      top: -12px;
      background-size: contain;

      @include for-phone-only {
        background-image: url("../../assets/lines/Line3-purple-mobile.svg");
      }
    }
  }

  &--grey {
    background-color: $light-grey;

    &:before {
      position: absolute;
      content: "";
      background-image: url("../../assets/lines/Line3-grey.svg");
      width: 100%;
      height: 70px;
      background-repeat: no-repeat;
      top: -12px;
      background-size: contain;

      @include for-phone-only {
        background-image: url("../../assets/lines/Line3-grey-mobile.svg");
      }
    }
  }

  &--green {
    background-color: $light-turqoise;

    &:before {
      position: absolute;
      content: "";
      background-image: url("../../assets/lines/Line3-green.svg");
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      top: -12px;
      background-size: contain;

      @include for-phone-only {
        background-image: url("../../assets/lines/Line3-green-mobile.svg");
      }
    }
  }
}
