@import "../../../styles/mixins.scss";
@import "../../../styles/breakpoints.scss";
@import "../../../styles//fonts.scss";

.review-experiences {
  @include container;
  text-align: center;

  &--title {
    @include heading-m;
    color: $grey;
    margin-bottom: space(12);
  }

  &--image {
    @include for-phone-only {
      svg {
        height: 115px;
      }
    }
  }

  &--about {
    @include body-l;
    color: $medium-grey;
    margin: space(12) 0;

    @include for-tablet-large-up {
      margin: space(24) 0;
    }
  }

  &--subtitle {
    @include subtitle;
    color: $grey;
    text-align: left;
    margin-top: space(32);
  }

  &--changes {
    @include body-l;
    font-family: $kayak-sans-bold;
    color: $medium-grey;
    text-align: left;
    margin: space(12) 0;
  }
}
