@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/breakpoints.scss";

.privacy-policy {
  @include container;

  &--back {
    @include body-s;
    color: $ribienna;
    cursor: pointer;
  }

  &--title {
    @include heading-l;
    color: $grey;
    margin-top: space(32);
  }

  &--content {
    @include about;
    color: $medium-grey;

    margin-top: space(88);

    @include for-phone-only {
      margin-top: space(40);
    }

    p {
      margin: space(16) 0;

      @include for-phone-only {
        margin: space(8) 0;
      }
    }

    &--container {
      @include for-phone-only {
        padding: 0 space(32) !important;
      }
    }
  }
}
