@import "../../../styles/mixins.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.submit-experiences {
  @include container;
}

.guidance {
  text-align: center;
  margin-top: space(88);

  @include for-phone-only {
    margin-top: space(24);
  }

  &--image {
    @include for-phone-only {
      svg {
        width: 115px;
      }
    }
  }

  &--title {
    @include heading-m;
    color: $grey;
    margin-bottom: space(12);

    @include for-tablet-large-up {
      margin-bottom: space(24);
    }
  }

  &--step {
    @include heading-xs;
    color: $medium-grey;
  }

  &--content {
    @include body-l;
    color: $medium-grey;
    margin: space(12) 0;

    @include for-tablet-large-up {
      margin: space(24) 0;
    }
  }

  &--icon {
    height: 12px;
    width: 10px !important;
    color: #f4f4f4;
    margin: 0 pxtorem(3px);

    &--active {
      color: #9aa7af;
    }
  }

  &--footer {
    padding: space(120) space(24) space(120) !important;
    justify-content: center !important;

    @include for-phone-only {
      padding-top: space(40) !important;
      padding-bottom: space(56) !important;
    }

    &--content {
      text-align: center;
    }

    &--skip {
      @include body-m;
      color: #62717a;
      text-decoration: underline;
      margin-top: space(24);
      cursor: pointer;
    }
  }
}
