@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/breakpoints.scss";

.home {
  &--welcome {
    padding: space(40) space(24) !important;
    position: relative;
    overflow: hidden;

    @include for-small-phone {
      padding: space(32) !important;
    }

    @include for-phone-only {
      padding: space(40) !important;
    }

    @include for-tablet-large-up {
      &:after {
        @include faded-background;
      }
    }

    &--title {
      @include heading-xl;
      color: $grey;
    }

    &--subtitle {
      @include subtitle;
      color: $turqoise;
    }

    &--about {
      @include about;
    }
  }

  &--experiences {
    position: relative;
    padding: pxtorem(169px) 0;
    background-color: $light-turqoise;
    text-align: center;
    margin-top: space(120);

    @include for-phone-only {
      margin-top: space(72);
      padding: space(48) 0 space(64);
    }

    &--container {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        height: 150px;
        background-image: url("../../assets/lines/Line2-green.svg");
        background-repeat: no-repeat;
        background-position: 80% 120px;
        background-size: 110%;
        z-index: 10;

        @include for-phone-only {
          background-image: url("../../assets/lines/Line2-green-mobile.svg");
          background-position: 80% 67px;
        }
      }

      &:after {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: 45px;
        background-image: url("../../assets/lines/Line2-green.svg");
        background-repeat: no-repeat;
        background-size: 110%;
        bottom: -24px;

        @include for-phone-only {
          background-image: url("../../assets/lines/Line2-green-mobile.svg");
        }
      }
    }

    &--title {
      @include heading-l;
      color: $turqoise;

      @include for-phone-only {
        line-height: 1;
      }
    }

    &--content {
      @include body-l;
      color: $grey;
      margin-top: space(32);
      margin-bottom: space(80);

      @include for-phone-only {
        margin-bottom: space(64);
      }
    }
  }

  &--share {
    padding-top: space(112) !important;
    padding-bottom: space(112) !important;

    @include for-phone-only {
      padding: space(112) space(40) !important;

      button {
        margin-top: space(16);
      }
    }

    &--title {
      @include heading-l;
      color: $ribienna;

      @include for-tablet-down {
        line-height: 1;
        text-align: center;
      }
    }

    &--description {
      @include body-l;
      color: $grey;
      margin: space(56) 0;

      @include for-phone-only {
        margin: space(40) 0;
      }

      p {
        display: inline;
      }

      div {
        svg {
          width: 52px;
          color: grey;
          margin-right: space(24);
          float: left;
        }
      }

      &--container {
        margin: 0 auto;
      }
    }

    &--content {
      @include body-s-alt;
      color: $grey;
      margin-top: space(40);

      @include for-phone-only {
        margin-top: space(32);
      }
    }

    &--button-container {
      text-align: center;
    }
  }

  &--footer {
    padding-top: space(120) !important;
    padding-bottom: space(120) !important;

    @include for-phone-only {
      padding-top: space(40) !important;
      padding-bottom: space(56) !important;
    }

    &--title {
      @include heading-m;
      color: $ribienna;
      margin-bottom: space(40);
    }

    &--content {
      @include body-l;
      color: $grey;
      margin-bottom: space(80);

      @include for-phone-only {
        margin-bottom: space(16);
      }
    }

    &--contact {
      @include heading-xs;
      color: $ribienna;

      a {
        @include body-l;
        color: $ribienna;
        display: block;
      }
    }
  }
}
