@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.story {
  @include container;

  &--info {
    margin-top: space(40);

    &--date {
      @include subtitle;
      color: $medium-grey;

      @include for-tablet-large-down {
        margin-top: space(16);
      }

      @include for-tablet-large-up {
        text-align: right;
      }
    }

    &--back {
      @include subtitle;
      color: $turqoise;
      text-decoration: none;
    }
  }

  &--content {
    @include body-l;
    color: $grey;
    margin-top: space(32);

    @include for-tablet-large-up {
      margin-top: space(56);
    }
  }
}
