@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/fonts.scss";

.privacy {
  &--header {
    @include pagination;
    color: $white;
    line-height: 1;
    background-color: $medium-grey;
    padding: space(16) space(24);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &--content {
    @include body-m-alt;
    color: $grey;
    padding: space(16) space(24);
    background-color: $light-grey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &--links {
    @include body-s;
    margin-top: space(16);
  }
}
