@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.link {
  color: $ribienna;
  display: inline-block;

  &--large {
    @include heading-m;
  }

  &--medium {
    @include heading-s;
  }

  &--small {
    @include body-l;
  }

  &--grey {
    color: $grey;
  }

  &--green {
    color: $turqoise;
    text-decoration-color: $turqoise;
  }
}
